.event-list {
  width: 99%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 8px;
  background-image: url('../assets/image/event-list1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: burlywood;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

/* Additional styling */
.event-list h1 {
  text-align: center;
  margin-bottom: 20px;
  color: aquamarine;
}

.event-list ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.event-list li {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  transition: transform 0.2s ease-in-out;
}

.event-list li:hover {
  box-shadow: 0 4px 8px rgba(235, 7, 7, 0.93);
}

.event-list p {
  margin: 5px 0;
}

.event-links {
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
}

.event-list a {
  padding: 8px 12px;
  color: white;
  background-color: #3a7ccd;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.event-list a:hover {
  background-color:orangered;
}

.no-events {
  text-align: center;
  color: #ff0101;
  font-size: 36px;
  margin-top: 30px;
}

