<div class="background-container">
<div class="register-container">
<h2>Register</h2>
 <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
   <div>
     <label for="name">Name</label>
     <input type="text" id="name" formControlName="name" />
   </div>
 
   <div>
     <label for="email">Email</label>
     <input type="email" id="email" formControlName="email" />
   </div>
 
   <div>
     <label for="number">Phone Number</label>
     <input type="text" id="number" formControlName="number" />
   </div>
 
   <div>
     <label for="password">Password</label>
     <input type="password" id="password" formControlName="password" />
   </div>
 
   <div *ngIf="errorMessage">{{ errorMessage }}</div>
 
   <button type="submit" [disabled]="registerForm.invalid">Register</button>
   <p>Already have an account? <a href="/login" (click)="toggleForm()">Login</a></p>
   
 </form>
</div>
</div>
 